.book {
  display: flex;
  justify-content: space-between;

  &__btns {
    button {
      border: none;
      background-color: #fff;
      padding: 1rem;
    }
  }
}

.genre {
  color: #e8e8e8;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.2rem;
}
