.navbar {
  display: flex;
  gap: 2.5rem;
  align-items: center;

  &__h1 {
    font-size: 2.5rem;
    color: #0290ff;
    font-family: 'Montserrat';
  }

  :nth-child(2) {
    font-size: 1.5rem;
  }

  :nth-child(3) {
    font-size: 1.5rem;
  }
}
