.navbar {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  margin: 4rem 6rem;

  &__h1 {
    font-size: 3rem;
    color: #0290ff;
    font-family: 'Montserrat', sans-serif;
  }

  :nth-child(2) {
    font-size: 1.8rem;
  }

  :nth-child(3) {
    font-size: 1.8rem;
  }
}
